* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 20px;
  padding-left : 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  background-color: #F1F3FF;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  text-align: right;
  margin-right: 5%;
}

.navbar li {
  display: inline-block;
}
.navbar li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.bar {
  width: 120px;
  height: 40px;
  background-color: blue;
}

.navbar .bar {
  margin-left: 5px;
}

.button-green {
  background-color: #0bec13;
  padding: 15px;
  text-decoration: none;
  color: #F1F3FF;
}

.navbar .button-green {
  color: #F1F3FF;
}

.main1 {
  width: 100%;
  height: 650px;
  background-color: #F1F3FF;
}

.main1 .img-kanan {
  float: right;
  width: 50%;
  margin-top: 10px;
}

.main1 .text {
  float: left;
  margin-top: 150px;
  margin-left: 60px;
  width: 30%;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.main2 {
    width: 100%;
    margin: auto;
    margin-top: 250px;
}
.img-kiri {
    width: 35%;
    float: left;
    margin-left: 5%;
}
.main2 .text {
    width: 50%;
    float: right;
    margin-right: 10%;
}

.main2 table td {
  padding: 10px;
}

.main3 {
  margin-top: 400px;
  margin-left: 10%;
  margin-right: 10%;
}

.container3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}

.main3 .why {
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 10%;
  width: 80%;
  border-radius: 10px;
  border: solid 1px rgb(196, 196, 196);

}
.main3 .why img {
  width: 60px;
  margin-bottom: 20px;
}

.container4 {
  width: 100%;
  margin-top: 150px;
}

.main4{
  width: 100%;
}
.main4 .text{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main4 .comment{
    justify-content: center;
    background-color: #F1F3FF;
    width: 70%;
    border-radius: 20px;
    margin-left: 10%
}
.carousel {
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: 80%;
  flex-shrink: 0;
  position: relative;
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prev-button .next-button {
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-controls button {
  margin:  0 5%;
  padding: 5px 10px;
  font-size: 14px;
}
.comment .rate {
    width: 100px ;
}
.comment .pfp {
    width: 25%;
}
.comment .comment-text {
  width: 50%;
  margin-top: 10px;
}
.comment .pfp img {
    width: 50%;
}
.carousel .prev-button, .carousel .next-button {
    border: none;
    background-color: #fff;
    height: 100px;
}
.carousel .prev-button img, .carousel .next-button img {
    width: 30px;
    background-color: #fff;
    border: solid 2px rgb(134, 134, 134);
    border-radius: 100%;
}
.carousel .next-button img {
    transform: rotate(180deg);
}
.carousel .prev-button img:hover, .carousel .next-button img:hover {
  background-color: #A347A0;
  border:solid 2px #A347A0;
  filter: invert(1);
}

.container5 {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  height: 350px
}

.main5 {
  background-color: blue;
  border-radius: 20px;
  width: 90%;
  height: 400px;
  text-align: center;
}

.main5 .text {
  width: 100%;
  margin-top: 5%;
  color: #fff;
  padding: 20px;
}

.container6{
  margin-top: 100px;
}

.main6{
  margin-top: 100px;
  width: 95%;
  margin-left: 5%;
  display: block;
}
.main6 .text{
  float: left;
  width: 40%;
  margin-top: 80px;
  height: 400px;
}
.question button{
  text-align: left;
  background: none;
  width: 100%;
  border: 0px;
  border-style: none;
  font-size: larger;
  height: 50px;
}
.question{
  border: solid 1px rgb(182, 182, 182);
  width: 80%;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
}
.question img{
  float: right;
}

.FAQ{
  margin-top: 40px;
  float: right;
  width: 50%;
}

.container7 {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 550px;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.alamat,
.menu,
.media,
.copy {
  flex: 1;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 5px;
}

.media table {
  border-collapse: collapse;
}

.media td {
  padding: 5px;
}

.copy {
  text-align: center; 
}
